.tile{
  border: 1px solid black;
  width:2.7775vh;
  height: 2.7775vh;
}
.defaultTile{
  background-color: blue;
}
.board{
  margin: auto auto auto auto;
  width: 33.33vh;
  height:33.33vh;

}
.nav-fixed-left{
  position: absolute;
  display: inline;
  top:30vh;
  left: 10px;
}
.clicked {
  background-color: green;
}

.route{
  background-color: yellow;
}
th p{
  font-size: 0.4em;
  margin-top: 70%;
  margin-bottom: 0%;
  text-align: right;
}

.flex-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
